extends layout

block content
  .page-header
    h3 Party ID: #{ partyid }
    img(src="https://api.qrserver.com/v1/create-qr-code/?data=" + partyid + "&amp;size=100x100" alt="" title="")

  div.searchContainer(ng-app="searchApp")

    div.searchController(ng-controller="searchController")
      form.form-horizontal(method='POST', action='/api/spotify')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='partyid', value=partyid)
        button.btn.btn-primary(type='submit') Submit to spotify
      div.row
        div.col-md-6
          form.form-horizontal
            .form-group
              label(class='col-sm-2 control-label', for='query') Query
              .col-sm-8
                input.form-control(type='text', name='query', id='query', ng-model="query", autofocus=true)
                input(ng-model="csrf_token" type='hidden', name='_csrf', value=_csrf)
                button.btn.btn-success(ng-click="getSongs()") Search
                div.results
                  <p>
                  </p>
                  <table>
                  <tr ng-repeat="track in tracks">
                  <td>{{ track.name }} by {{ track.artists}} </td>
                  //<td> <a href= "" + {{ track.id}} > add this song to queue</a>  </td>
                  <td>
                  // now have to create a page/ function that will show party queue for this to work
                  // instead of track.id; might want to send the whole object!
                  |<button class="btn btn-success" ng-click="addSong(track.id, '#{ partyid }' )">+</button>

                  </td>
                  </tr>
                  </table>
        div.col-md-6
          <table>
          <tr ng-repeat="partysong in partysongs">
          <td>
          <table>
          <tr>
          <td>{{ partysong.name }} by {{ partysong.artists }} -- {{ partysong.votes }} </td>
          </tr>
          <tr>
          <td>
          | <button class="btn btn-success" ng-click="UpSong(partysong.songid, '#{ partyid }' )"> Vote up</button>
          | <button class="btn btn-success" ng-click="DownSong(partysong.songid, '#{ partyid }' )"> Vote down</button>
          </td>
          </tr>
          </table>
          </td>
